:root {
  --primary: #0167B5;
  --secondary: #5A5A5A;
  --alarm: #B12704;
  --bg-color: #EEEEEE;
  --bg-color-secondary: #E2E2E2;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--bg-color);
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;

}

header {
  color: #FFFFFF;
  width: 100%;
  background-color: var(--primary);
  padding: 5px 15px
}

header a {
  text-decoration: none;
  color: #FFFFFF;
}

footer {
  padding: 15px 25px;
  background-color: var(--bg-color-secondary);
  position: absolute;
  bottom: 0;
  width: 100%; 
  color: #A7A7A7;
}

.bg-light {
  background-color: var(--primary) !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
